__pycache__
domainbed/facebook.py

domainbed/data/*
train_output/*
outputs/
domainbed/pretrained/best_checkpoint.pth
requirements.txt
sanoojan.out
slurm*
sanoojan2.out
environment.yml
domainbed/pretrained/cvt/cvt_tiny.pth.tar
domainbed/pretrained/cvt/cvt_small.pth.tar
domainbed/pretrained/cvt/CvT-21-224x224-IN-1k.pth
domainbed/pretrained/cvt/CvT-13-224x224-IN-1k.pth

domainbed/image_outputs/
*.out

Sweep_PACS.sh
Sweep_PACS.sh
Sweep_DomainNet.sh
Sweep_PACS.sh
